.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

/* Header */
.navbar {
  background-color: #242e54;
  color: white;
}

#navbar-brand {
  color: white;
  font-weight: bolder;
}

#nav-link, #footer a {
  color: white;
  opacity: 75%;
}

#nav-link:hover, #footer a:hover {
  color: white;
  font-weight: bolder;
  opacity: 100%;
  transition:.5s;
}

/* About */
#about {
  margin: 150px 0px 150px 0px;
}
/* About */
.content {
  margin: 150px 0px 150px 0px;
}
.content h1, .content h4 {
  font-weight: bolder;
}

#content-row {
  margin: 100px 0px 100px 0px;
  font-size: 20px;
}

#member-img {
  justify-content: center;
}

#landing {
  margin: 125px 50px 125px 50px;
}

#landing-img {
  border-style: solid;
  border-width: 15px;
}

#landing-txt {
  font-size: 75px;
  font-weight: bold;
}

#big-txt {
  font-size: 20px;
  margin: 100px 50px 100px 50px;
}

#col-img {
  border-style: solid;
  border-width: 5px;
  width: 100%;
}

/* Footer */
#card {
  border: none;
}

#footer {
  padding: 25px;
  background-color: #242e54;
  color: white;
}

#footer p {
  font-size: 14px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.line-animation {
  width: 100%;
  display: inline-block;
  height: 4px;
  background-color: #242e54;
}

#features-col {
  align-content: center;
  text-align: center;
}

#features-col > #col-img {
  border-style: solid;
  border-width: 5px;
  width: 100%;
}

@media (max-width: 1000px) {
  #landing-txt {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  #landing-txt {
    font-size: 30px;
  }
  #big-txt {
    margin: 150px 25px 150px 25px;
  }
}

@media (max-width: 480px) {
  #landing-txt {
    font-size: 25px;
  }
  #big-txt {
    margin: 50px 5px 50px 5px;
  }
}